<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8" />
    <title>게시글 리스트</title>
  </head>
  <style>
    .layout {
      width: 500px;
      margin: 0 auto;
      margin-top: 40px;
    }
  </style>
  <body>
    <div class="layout">
      <table>
        <thead>
          <tr>
            <th>글 번호</th>
            <th>제목</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="board : ${list}">
            <td th:text="${board.id}">1</td>
            <td>
              <a th:href="@{/board/view(id=${board.id})}" th:text="${board.title}">제목임</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${1 == boards.getPageable.getPageNumber + 1} ? 'disabled'">
          <a class="page-link" href="#" th:href="@{/board/list(page=${boards.getPageable.getPageNumber - 1})}"
             tabindex="-1" aria-disabled="true">＜</a>
        </li>
        <li class="page-item" th:classappend="${i == boards.getPageable.getPageNumber + 1} ? 'disabled'"
            th:each="i : ${#numbers.sequence(startPage, endPage)}">
          <a class="page-link" href="#" th:href="@{/board/list(page=${i - 1})}" th:text="${i}">1</a>
        </li>
        <li class="page-item"
            th:classappend="${boards.getTotalPages() == boards.getPageable.getPageNumber + 1} ? 'disabled'">
          <a class="page-link" href="#" th:href="@{/board/list(page=${boards.getPageable.getPageNumber + 1})}">＞</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
